.card{
    width: 300px;
    height: 400px;
    border-radius: 8px;

    box-shadow: 3px 2px 6px gray;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   padding: 20px;
 
}
.card__elem{
    display: flex;
    align-items: flex-start;

}
.card__elem--title{
color: rgba(0, 0, 0, 0.514);

}
.card__elem--temp{
    font-size: 2em;
    font-weight: 700;
}
.card__elem--code{
    margin-left: 10px;
    background:orange;
    color: white;

    font-size: 0.6em;
    padding: 3px 4px;
    border-radius: 6px;
}
.card__elem--degree{
border: 2px solid black;
width: 6px;
height: 6px;
border-radius: 100%;
}
.card__elem--icon{
    font-size: 30px;

}